{% extends 'layouts/base.html' %}
{% block body %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>
          Career Overview
        </h1>
        <p>
          The chronological listing of my professional achievements.
        </p>
        <a class="btn btn-primary btn-xs" href="#navigation_heading">
            Navigation
        </a>
        <a class="btn btn-primary btn-xs" href="#bookmarks">
            Bookmarks
        </a>
        <a class="btn btn-primary btn-xs" href="#disqus_heading">
            Comments
        </a>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Career Overview</h4>
        </div>
        <div class="panel-body">
          <h1>Biography</h1>
          <h2>Brief</h2>
          <p>I am a NC attorney and amateur programmer, my background includes:</p>
          <ul>
            <li>Foreign Direct Investment</li>
            <li>Immigrant Visas</li>
            <li>Non-Immigrant Visas</li>
            <li>Wills and Estate Planning</li>
            <li>General Business Law</li>
          </ul>
          <h2>Goals</h2>
          <p>I am currently looking to join a firm in North Carolina.</p>
          <h1>Programming Experience</h1>
          <p>I am currently developing my web development skills</p>
          <h2>Programming Languages and Templates:</h2>
          <ul>
              <li>Python</li>
              <li>Flask & Django</li>
          </ul>
          <h4>Projects</h4>
          <ul>
            <li>This website!</li>
          </ul>
          <h1>Skills</h1>
          <ul>
            <li><a href="http://nathanrosspowell.com/career/professional-skills" title="Professional Skills">Professional Skills</a>
            </li>
            <li><a href="http://nathanrosspowell.com/career/other-experience" title="Other Experiences">Other Skills</a>
            </li>
          </ul>
          <h1><a href="http://nathanrosspowell.com/career/formal-education" title="Formal Education">Formal Education</a>
          </h1>
        </div>
      <!--</div>-->
      <div class="row" id="navigation_heading">
        <div class="span4">
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                <span class="glyphicon glyphicon-th-list"></span>Index Page</h4>
            </div>
            <div class="panel-body">
              Go back to the index page for career to see all of the pages like this. Or, skip to the next or previous pages.
              <br/>
              <a class="btn btn-primary btn-large" href="/career">
        Career
    </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Professional Skills
                <span class="glyphicon glyphicon-chevron-right"></span>
              </h4>
            </div>
            <div class="panel-body">
              Test text.
              <br/>
              <a class="btn btn-primary btn-large" href="/career/professional_skills">
        Read next
    </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="bookmarks">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bookmarks" href="#bookmarks-body">
            Bookmarks<b class="caret"></b>
          </a>
            </h4>
          </div>
          <div id="bookmarks-body" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="well" id="bookmarks_heading">
                <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6669472'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="comments">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#comments" href="#comments-body">
                <div id="disqus_heading"></div>Comments
                <b class="caret"></b>
              </a>
            </h4>
          </div>
          <div id="comments-body" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="disqus_thread"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}