{% extends "layouts/base.html" %}
{% block body %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="split-text-over-lines">
          About Me
        </h1>
        <p>
          Test About
        </p>
      </div>
            </div>
          </div>
        </div>
      <footer>
        <div class="container">
        <div class="well">
          <small>
            &copy; Benjamin Zich.
          </small>
        </div>
        </div>
      </footer>
  
{% endblock %}