{% extends "layouts/base.html" %}
{% block body %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="split-text-over-lines">
          Benjamin M. Zich
        </h1>
        <p>
          Welcome to my first website! I am an <a href="/about_me/">attorney</a> that is learning programming in my spare time.
          <br/>This website is a learning exercise more than anything but hopefully it is good enough to showcase my cv and the programming experiments I am working on. Below will b links to my latest works and also some bits of social media.
          <br/>
          <br/>Thanks,
          <br/>Benjamin
        </p>
      </div>
      <!--<div class="row" id="navigation_heading">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Instagram</h4>
            </div>
            <div class="panel-body">
              <!-- INSTANSIVE WIDGET -->
             <!-- <script src="http://instansive.com/widget/js/instansive.js"></script>
              <iframe src="http://instansive.com/widgets/ud3fa40b31edf1460ef46e6f8dcea675.html" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
              <br/>
              <a class="btn btn-primary btn-large" href="http://instagram.com/aspiringtrees">
        Follow me
    </a>-->
            </div>
          </div>
        </div>
        <!--<div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Twitter</h4>
            </div>
            <div class="panel-body">
              <a class="twitter-timeline" href="https://twitter.com/dolorousben" data-widget-id="519477055126122496">Tweets by @dolorousben</a>
              <script>
                  ! function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                      if (!d.getElementById(id)) {
                          js = d.createElement(s);
                          js.id = id;
                          js.src = p + "://platform.twitter.com/widgets.js";
                          fjs.parentNode.insertBefore(js, fjs);
                      }
                  }(document, "script", "twitter-wjs");
              </script>
              <br/>
              <a class="btn btn-primary btn-large" href="https://twitter.com/dolorousben">
        Follow me
    </a>-->
            </div>
          </div>
        </div>-->
      <footer>
        <div class="well">
          <small>
            &copy; Benjamin Zich.
          </small>
        </div>
      </footer>
    </div>
{% endblock %}