{% extends 'layouts/base.html' %}
{% block body %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>
          First Blog entry
        </h1>
        <p> Test the blog text area. </p>
      </div>
      <div class="row" id="navigation_heading">
        <div class="span4">
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                <span class="glyphicon glyphicon-th-list"></span>Index Page</h4>
            </div>
            <div class="panel-body">
              Go back to the index page for blog to see all of the pages like this. Or, skip to the next or previous pages.
              <br/>
              <a class="btn btn-primary btn-large" href="/blog/">
        Blog
    </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Test - Next Entry
                <span class="glyphicon glyphicon-chevron-right"></span>
              </h4>
            </div>
            <div class="panel-body">
              The Next Entry
              <br/>
              <a class="btn btn-primary btn-large" href="/blog/next/">
        Read next
    </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="bookmarks">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bookmarks" href="#bookmarks-body">
            Bookmarks<b class="caret"></b>
          </a>
            </h4>
          </div>
          <div id="bookmarks-body" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="well" id="bookmarks_heading">
                <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6669472'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="comments">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#comments" href="#comments-body">
                <div id="disqus_heading"></div>Comments
                <b class="caret"></b>
              </a>
            </h4>
          </div>
          <div id="comments-body" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="disqus_thread"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}